<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/start/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">My dream job: Coding!</h2>
                                    <p class="item-intro text-muted">by Caner Kuru</p>
                                    <img class="img-fluid d-block mx-auto" src="/start/assets/img/portfolio/6.jpeg" alt="..." />
                                    <p>Hello, <br />Universe!
It’s my first ever blog post, and I want to tell you why I chose Software Engineering as a profession.
I had my first PC when I was nine years old, and I broke my system five times in two weeks by deleting a bunch of system32 files. I have no idea why but I was always so into coding, hacking, designing more than playing video games, and I never lost that passion. I self-learned HTML and created many websites for myself and my friends.
At the time, I was playing the online video game called Knight Online, and I hated all the GMs and all the bugs and glitches. So I created my first private Knight Online game server and kept it open for more than two years for players. I coded a flawed security system for cheaters, designed a game panel, and fixed many bugs that the original game company did not improve for years.
Then I chose finance as my future profession, and I now realize it was the wrong path. I started studying software engineering almost a month ago, and it’s one of the hardest things I’ve ever faced in my life, but I love it. I think about coding/codes doesn’t matter what I do or where I’m at. I even dream about it. Yep, I completely lost it, but what can I do? It gives me butterflies, and I feel like I finally found the one for me. I’m already in love with it.
I’ll keep learning and keep updating myself at coding. I’ll try my best to become an incredible coder one day. Now it’s time to get back coding.
Ciao everyone!</p>
                                    <ul class="list-inline">
                                        <li>
                                            
                                            4 min read
                                        </li>
                                        <li>
                                            
                                            08/03/2021
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Blog
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>