 <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/start/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">How I Created My First React Project</h2>
                                    <p class="item-intro text-muted">by Caner Kuru</p>
                                    <img class="img-fluid d-block mx-auto" src="/start/assets/img/portfolio/8.png" alt="..." />
                                    <p><section class="section section--body" name="3213">
        <div class="section-content">
            <div class="section-inner sectionLayout--insetColumn">
                <p class="graf graf--p" name="945f">React is an open-source Javascript library for building dynamic apps, and it is the most enjoyable thing I&rsquo;ve learned so far at coding. It facilitates the overall process of writing components, boosts productivity and facilitates further maintenance, ensures faster rendering, guarantees stable code, has all the Facebook resources, etc. I think those are enough reasons why you need to use React for your projects/app. So here we go! Let me tell you the whole story about my first project called &ldquo;Madflix&rdquo;!</p>
                <h3 class="graf graf--h3" name="8cba">DREAM ABOUT YOUR&nbsp;PROJECT!</h3>
                <p class="graf graf--p" name="c1f5">I&rsquo;m a junior software engineer, and I started coding very recently, like only a couple of months ago. When I heard that we would study React in the next phase, I had no idea about it. I googled and read blogs, watched videos about it, and knew I would love React. Then weeks before the project weeks started, I started thinking about my project. I was trying to find the best API that fits my expectations and is also not too hard to code because, first of all, I&rsquo;m still a beginner at coding and I had limited time to finish this project. Then I found TMDB API provided by <a class="markup--anchor markup--p-anchor" data-href="https://www.themoviedb.org/" href="https://www.themoviedb.org/" rel="noopener" target="_blank">TheMovieDb</a>. I remember the first moment when I saw the API and its features. I couldn&rsquo;t stop thinking about it. I was thinking about it almost 7/24, including in my dreams! Yup, you heard me right. I dreamt about it! Dream about your project! Have a substantial passion for it! Other steps will come along.</p>
                <h3 class="graf graf--h3" name="7937">DRAW ANYTHING YOU&nbsp;THINK!</h3>
                <p class="graf graf--p" name="40e1">This is something that I find extremely helpful. I draw! Draw anything that comes to your mind. Drawing helps me to clear my mind and figure out the path I&rsquo;m going to take. It may not work for you, but it definitely works for me, and I wanted to mention it. I hope it helps anyone who reads this blog as well.</p>
                <figure class="graf graf--figure" name="0c72"><img class="graf-image" data-image-id="1*JmWJaVCaCIv0PMdsWemusQ.jpeg" data-width="3024" data-height="4032" src="https://cdn-images-1.medium.com/max/800/1*JmWJaVCaCIv0PMdsWemusQ.jpeg"></figure>
                <p class="graf graf--p" name="1afa">I wasted more than 20 pages to figure out how to build the structure of my project. (unfortunately wasted some pages 😭 ). This is one of the first pages I draw, and it only shows the first page that we&rsquo;ll see when you enter my website. There are more pages that show component structures, movie pages, and the features I&rsquo;ll add to my project, but I don&rsquo;t want to upload them all here. You have to wait and see when it&rsquo;s online!</p>
                <h3 class="graf graf--h3" name="b2eb">LEARN HOW TO BUILD YOUR STRUCTURE!</h3>
                <p class="graf graf--p" name="33c5">I think the essential part of creating any project is in any programming language. I didn&rsquo;t really care about the structure for the first couple of weeks when I started studying software engineering. Then I came across this <a class="markup--anchor markup--p-anchor" data-href="https://youtu.be/D-h8L5hgW-w" href="https://youtu.be/D-h8L5hgW-w" rel="noopener" target="_blank">YouTube Video</a>, and it changed my vision completely. Everything started clicking for me right after I watched this video. If you are focusing on being a front-end developer, I highly recommend you watching that video so you&rsquo;ll know some idea about how to start creating a project from scratches.</p>
                <h3 class="graf graf--h3" name="4b93">GET READY YOUR TOOLS/EXTENSIONS!</h3>
                <p class="graf graf--p" name="5450">I LOOOOOVE extensions. They are going to be your third hand and eye. Coding is not easy, but it&rsquo;s unbelievably easy to mess up. But there are some good people out there, and thanks to them, coding is way easier than before now. Don&rsquo;t hesitate to use them. I&rsquo;ll give you some of the extensions I use, and they are all highly recommended;</p>
                <ul class="postList">
                    <li class="graf graf--li" name="58f4"><a class="markup--anchor markup--li-anchor" data-href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag" href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag" rel="noopener" target="_blank">Auto Rename Tag</a></li>
                    <li class="graf graf--li" name="3be5"><a class="markup--anchor markup--li-anchor" data-href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode" href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode" rel="noopener" target="_blank">Prettier</a></li>
                    <li class="graf graf--li" name="41f4"><a class="markup--anchor markup--li-anchor" data-href="https://marketplace.visualstudio.com/items?itemName=dsznajder.es7-react-js-snippets" href="https://marketplace.visualstudio.com/items?itemName=dsznajder.es7-react-js-snippets" rel="noopener" target="_blank">ES7 React/Redux/GraphQL/React-Native snippets</a></li>
                    <li class="graf graf--li" name="2b69"><a class="markup--anchor markup--li-anchor" data-href="https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer-2" href="https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer-2" rel="noopener" target="_blank">Bracket Pair Colorizer 2</a></li>
                    <li class="graf graf--li" name="de8f"><a class="markup--anchor markup--li-anchor" data-href="https://marketplace.visualstudio.com/items?itemName=jpoissonnier.vscode-styled-components" href="https://marketplace.visualstudio.com/items?itemName=jpoissonnier.vscode-styled-components" rel="noopener" target="_blank">VS Code Styled Components</a></li>
                    <li class="graf graf--li" name="4b35"><a class="markup--anchor markup--li-anchor" data-href="https://marketplace.visualstudio.com/items?itemName=blanu.vscode-styled-jsx" href="https://marketplace.visualstudio.com/items?itemName=blanu.vscode-styled-jsx" rel="noopener" target="_blank">VS Code Styled Jsx</a></li>
                    <li class="graf graf--li" name="7c42">React Developer Tools (Chrome Extension)</li>
                </ul>
                <p class="graf graf--p" name="6bc7">I don&rsquo;t want to go too deep into them. Otherwise, this blog will never end hehehe. So please trust me and download them all, then figure out how they work and what they do. And now, let&rsquo;s talk about serious stuff. <strong class="markup--strong markup--p-strong">Game begins!</strong></p>
            </div>
        </div>
    </section>
    <section class="section section--body" name="16dd">
        <div class="section-divider">
            <hr class="section-divider">
        </div>
        <div class="section-content">
            <div class="section-inner sectionLayout--insetColumn">
                <h3 class="graf graf--h3" name="4215">STYLED-COMPONENTS</h3>
                <blockquote class="graf graf--blockquote" name="cecf"><code class="markup--code markup--blockquote-code">Styled-components</code> is a library built for React and React Native developers. It allows you to use component-level styles in your applications. <code class="markup--code markup--blockquote-code">Styled-components</code> leverage a mixture of JavaScript and CSS using a technique called CSS-in-JS.</blockquote>
                <blockquote class="graf graf--blockquote" name="66fe"><code class="markup--code markup--blockquote-code">Styled-components</code> are based on tagged template literals, meaning actual CSS code is written between backticks when styling your components. This gives developers the flexibility of reusing their CSS code from one project to another.</blockquote>
                <p class="graf graf--p" name="a92c">I found out about styled-components recently and use them in this app. I think styling is one of the most critical parts when creating a website or an app, and styled-components made it pretty easy to style my app.</p>
                <figure class="graf graf--figure" name="4f9e"><img class="graf-image" data-image-id="1*6q984UCCypk_qSr1CWiW4w.jpeg" data-width="2048" data-height="2048" src="https://cdn-images-1.medium.com/max/800/1*6q984UCCypk_qSr1CWiW4w.jpeg">
                    <figcaption class="imageCaption">Each JS file represent diffrent components. Wrapper hold them in one container.</figcaption>
                </figure>
                <p class="graf graf--p" name="b381">The most important part in styling is &ldquo;Wrapper,&rdquo; or whatever you want to call it. I called it wrapper conventionally. You can think of it as global styling for your components. You can hold the entire content of the page in one container. The actual content of the page is then enclosed inside this wrapper container. It&rsquo;s easy to change and edit if you make any mistake or don&rsquo;t like how it looks.</p>
                <p class="graf graf--p" name="2e12"><strong class="markup--strong markup--p-strong">USE GLOBAL STYLE!</strong></p>
                <p class="graf graf--p" name="fc19">Another free hint from me. <strong class="markup--strong markup--p-strong">USE IT!</strong> Global styles are beneficial, and it makes styling easier. You can edit the most used tags like body, h1, p or you can assign variable names for color that you are going to often use for your app at the beginning and never worry about them ever again.</p>
                <figure class="graf graf--figure" name="8091"><img class="graf-image" data-image-id="1*Kp0h7lfTwn1FKxnJob64gw.png" data-width="1010" data-height="1414" src="https://cdn-images-1.medium.com/max/800/1*Kp0h7lfTwn1FKxnJob64gw.png"></figure>
                <p class="graf graf--p" name="508f">Then all you need to do is import your global style file into the app.js, and that is it! Voila! Magic happened!</p>
                <figure class="graf graf--figure" name="4a42"><img class="graf-image" data-image-id="1*sLJQGbTy4mfau8i305LB0Q.png" data-width="1376" data-height="418" src="https://cdn-images-1.medium.com/max/800/1*sLJQGbTy4mfau8i305LB0Q.png"></figure>
                <p class="graf graf--p" name="8c90"><strong class="markup--strong markup--p-strong">BE ORGANIZED!</strong></p>
                <p class="graf graf--p" name="6e42">Being organized must be your habit. Try to separate your page into components as much as possible and create files for them. Create your config file for the API sources that you will use several times in your app. Use &ldquo;prettier&rdquo; extension that I provided earlier.</p>
                <figure class="graf graf--figure" name="16b9"><img class="graf-image" data-image-id="1*6p3Y3WRyrD91MKPLrmtEsQ.png" data-width="1774" data-height="1196" src="https://cdn-images-1.medium.com/max/800/1*6p3Y3WRyrD91MKPLrmtEsQ.png"></figure>
                <figure class="graf graf--figure" name="84c1"><img class="graf-image" data-image-id="1*P5Kyo0VUNxpNs17Er2XCIw.png" data-width="1768" data-height="1190" src="https://cdn-images-1.medium.com/max/800/1*P5Kyo0VUNxpNs17Er2XCIw.png"></figure>
                <p class="graf graf--p" name="af4c">If this blog helps at least one person at some point, then my goal will be accomplished. Don&rsquo;t hesitate to reach out and ask me questions. I wish everyone my besties! Stay with codes&nbsp;:=&gt;</p>
            </div>
        </div>
    </section>
    <section class="section section--body" name="db98">
        <div class="section-divider">
            <hr class="section-divider">
        </div>
        <div class="section-content">
            <div class="section-inner sectionLayout--insetColumn">
                <p class="graf graf--p" name="60bd"><strong class="markup--strong markup--p-strong">References</strong></p>
                <p class="graf graf--p" name="0720"><a class="markup--anchor markup--p-anchor" data-href="http://www.columbia.edu/" href="http://www.columbia.edu/" rel="noopener" target="_blank">http://www.columbia.edu/</a></p>
                <p class="graf graf--p" name="515f"><a class="markup--anchor markup--p-anchor" data-href="https://www.ionos.com/" href="https://www.ionos.com/" rel="nofollow noopener noopener" target="_blank">https://www.ionos.com/</a></p>
                <p class="graf graf--p" name="53e5"><a class="markup--anchor markup--p-anchor" data-href="https://www.section.io/" href="https://www.section.io/" rel="nofollow noopener noopener" target="_blank">https://www.section.io/</a></p>
            </div>
        </div>
    </section></p>
                                    <ul class="list-inline">
                                        <li>
                                           
                                            5 min read
                                        </li>
                                        <li>
                                           
                                            10/01/2021
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>