        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">STUFF I'VE BUILT</h2>
                    <h3 class="section-subheading text-muted">Project links will go online 5 seconds after your click!</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/start/assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>November 2021</h4>
                                <h4 class="subheading">Pixmarkt</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Phase 5 — Graduation Project. I’ve combined everything, and I learned since day one, and I learned so many new things in this project like AWS and devise gem. Instagram inspired me for this project.<br /><a href="https://pixmarkt.herokuapp.com/">Pixmarkt</a></p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/start/assets/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>October 2021</h4>
                                <h4 class="subheading">Beeper</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Chat Iron, Beeper, and following and my final project are different despite one forerunner of the other. Twitter inspired me for this project, and my project partner and I did an excellent job in 5 days.<br /><a href="https://beeperapp.herokuapp.com/">Beeper</a></p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/start/assets/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2021</h4>
                                <h4 class="subheading">Chat Iron</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">I’ll never forget this project. London and I wanted to create something unique and fun. When I told her about creating a chat app, we both were so excited. We knew it would be challenging, but it was so much worse than what we were expecting. We didn’t have rails resources; therefore, we had to code authorization and authentication from scratches. We had nightmares and sleepless nights. We forgot to eat! No exaggeration at all! But we made it 5 minutes before the presentation.<br />No online example!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/start/assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2021</h4>
                                <h4 class="subheading">Madflix</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">This was my solo project at the end of Phase 2. React got into my life at this point. It is a fantastic framework or library. Whichever you want to call it. :) IMDB and Madflix inspired me for this project. I’ve wanted to have a movie website since I was very little and I finally achieved my dream.<br /><a href="https://kurucaner.github.io/madflix/">Madflix</a></p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/start/assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2021</h4>
                                <h4 class="subheading">Cackle Card</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">My project partner and I finished this app at the end of Phase 1. I’ve learned so much about functions and fetching data in JS. It was challenging but entertaining at the same time.<br /><a href="https://kurucaner.github.io/apiproject/">Cackle Card</a></p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/start/assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2021</h4>
                                <h4 class="subheading">Exploring Istanbul</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">I was born and raised in Turkey, and I wanted my first project to be about my hometown. It’s an elementary single web page, but this is the project when I learned how vital building structure is.<br /><a href="https://kurucaner.github.io/example-repository/">Exploring Istanbul</a></p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                MORE
                                <br />
                                IS
                                <br />
                                COOKING!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>